---
import Header from '@/common/components/Header/Header.astro'
import Head from '@/common/components/Head/Head.astro'

export type Props = { title: string }

const { title } = Astro.props

import '@core/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <Head title={title} />
  </head>
  <body>
    <main>
      <slot />
      <Header />
    </main>
    <script>
      import { theme } from '@/common/stores'

      const className = 'app min-h-screen transition-colors duration-1000'
      const main = document.querySelector('main')

      main!.className = `${className} ${theme.get().white} ${theme.get().dark}`
      theme.subscribe(
        th => (main!.className = `${className} ${th.white} ${th.dark}`)
      )
    </script>
  </body>
</html>
